<div class="contenedorUser">
    <div class="cabeza">

    </div>
    <div class="cuerpo">

    </div>
</div>

<style>
    .contenedorUser{
        width: 200px;
        height: 200px;
        padding: 20px;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .cabeza{
        width: 70px;
        height: 70px;
        background-color: #757575;
        border-radius: 50%;
    }
    .cuerpo{
        width: 100px;
        height: 70px;
        background-color: #757575;
        border-radius: 50px 50px 0px 0px;
    }
</style>